includeConfig 'config/default.config' // default config for Microarray workflow
profiles {

    // Default run mode, uses local executor and conda ymls packaged with pipeline
    standard {
        //includeConfig 'config/executor/default_local.config'
        includeConfig 'config/software/by_conda_yml.config'
    }
}


manifest {
    homePage = 'https://github.com/J-81/glds_microarrays'
    description = 'Microarray Processing Pipeline for Document GL-DPPD-710X.md'
    mainScript = 'main.nf'
    defaultBranch = 'main'
    nextflowVersion = '>=21.04.1'
    version = '1.0.0'
}
