includeConfig 'config/default.config' // default config for Microarray workflow
profiles {

    // Default run mode, uses local executor and conda ymls packaged with pipeline
    standard {
        //includeConfig 'config/executor/default_local.config'
        includeConfig 'config/software/by_conda_yml.config'
    }
}
