params {
  outputDir = "."
  publish_dir_mode = "link" // method for creating publish directory.  Default here for hardlink
  help=false //prints out help menu if true
  isaArchive=false // Can supply a local ISA archive, set to false if fetching from GLDS repo is preferred
  stageLocal=true
  runsheet=false
  dp_tools_config_version="0"
}
